<div class="row annotate-row">
  <div class="col-xs-2 text-right">
    <button class="btn btn-default btn-xs" ng-click="videoCtrl.deleteAnnotation($index)"><span class="glyphicon glyphicon-trash"></span></button>
    <button class="btn btn-default btn-xs" ng-click="videoCtrl.toggleAnnotationDisplay($index)"><span class="glyphicon glyphicon-pencil"></span></button>
  </div>
  <div class="col-xs-10">
    <div slider ng-from="annotation.start" ng-to="annotation.lapse" behaviour="drag" start=0 end=100 step=1></div>
  </div>
</div>
<div class="row" ng-show="annotation.active">
  <div class="col-xs-10 col-xs-offset-2">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-3 control-label">Annotation Text</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="annotation.text">
        </div>
      </div>
    </form>
  </div>
</div>
