<!DOCTYPE html>
<html lang='en' ng-app="player">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheech HTML5 Video Player</title>
    <link rel="stylesheet" href="bower_components/nouislider/jquery.nouislider.css" />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/nouislider/jquery.nouislider.js"></script>
    <script src="bower_components/nouislider/Link.js"></script>
    <script src="bower_components/angular-nouislider/src/nouislider.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="video-player.css" rel="stylesheet" />
    <script src="video-player.js"></script>
  </head>
  <body ng-controller="VideoController as videoCtrl">
    <div class="container">

      <!-- Video -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <video id='video' controls>
            <source src='http://video.bbemaildelivery.com/698ef524-730d-4afa-9e78-aea9d16ecf9f_LowDesktop.mp4' type='video/mp4'>
          </video>
          <div id="headline" style="display: none">
            {{videoCtrl.headline}}
          </div>
        </div>
      </div>

      <!-- Video Controls -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <button id='replay-button' class='btn btn-default' title='replay' ng-click='videoCtrl.replayVideo()'><span class="glyphicon glyphicon-fast-backward"></span></button>
          <button id='play-pause-button' class='btn btn-default' title='play' ng-click='videoCtrl.togglePlayPause()'><span id='play-pause-icon' class="glyphicon glyphicon-play"></span></button>
          <button id='stop-button' class='btn btn-default' title='stop' ng-click='videoCtrl.stopVideo()'><span class="glyphicon glyphicon-stop"></span></button>
          <button id='volume-up-button' class='btn btn-default' title='increase volume' ng-click='videoCtrl.changeVolume("up")'><span class="glyphicon glyphicon-volume-up"></span></button>
          <button id='volume-down-button' class='btn btn-default' title='decrease volume' ng-click='videoCtrl.changeVolume("down")'><span class="glyphicon glyphicon-volume-down"></span></button>
          <button id='mute' class='btn btn-default' title='mute' ng-click='videoCtrl.toggleMute()'><span class="glyphicon glyphicon-volume-off"></span></button>
        </div>
      </div>

      <!-- Progress Bar -->
      <div class="row">
        <div id='progress-div' class="col-xs-10 col-xs-offset-1">
          <progress id='progress-bar' min='0' max='100' value='0'>0% played</progress>
        </div>
      </div>

      <!-- Annotations -->
      <annotate-timeline ng-repeat="annotation in videoCtrl.annotations"></annotate-timeline>

      <!-- Add Annotation -->
      <div class="row text-center add-annotation-row">
        <button class='btn btn-default' title='add annotation' ng-click="videoCtrl.addAnnotation()"><span class='glyphicon glyphicon-plus'></span> Add annotation</button>
      </div>
    </div>
  </body>
</html>
