video {
  width: 100%;
  padding-top: 10px;
}

#headline {
  position: absolute;
  top: 20px;
  color: #CC46E8;
  text-align: center;
  font-size: 24px;
  background-color: rgba(221, 221, 221, 0.7);
  left: 15px;
  right: 15px;
  padding: 5px 0;
  z-index: 2147483647;
}

progress {
  margin-top: 5px;
  width: 100%;
}

.btn-bar {
  height: 80%;
}

.progress-row {
  padding-bottom: 15px;
}

.annotate-row {
  padding: 8px 0;
}

.add-annotation-row {
  padding-top: 10px;
}

.input-box {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.text-box {
  width: 50%;
}
